@import "~/common/stylesheet/index";

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .cover {
    position: relative;
    height: 240px;
    background: url(./img/leaderboard.jpg) top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: $height-nav;
      content: '';
      background-image: linear-gradient(to bottom, rgba(black, .4), rgba(black, 0));
    }

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: $height-task-overlay;
      content: '';
      background-image: linear-gradient(to top, rgba(black, .8), rgba(black, 0));
    }

    .overlay {
      position: relative;
      height: $height-task-overlay;
      display: flex;
      align-items: center;
      padding: 0 24px;

      .detail {
        flex: 1;
        display: flex;
        flex-direction: column;

        .name {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 4px;
        }

        .sub {
          .bold {
            font-size: $font-size-large;
            font-weight: bold;
          }
        }
      }

      .button {
        border: 2px solid white;
        padding: 8px;
        font-weight: bold;
        margin-left: 8px;

        &:active,
        &.selected {
          background-color: white;
          color: $theme-normal;
        }
      }
    }
  }

  .row {
    position: relative;
    display: flex;
    align-items: center;
    background-color: $theme-light;
    border-bottom: 1px solid rgba(white, .2);
    height: $height-row;

    .icon {
      font-size: $font-size-large;
      width: $height-row;
      display: flex;
      justify-content: center;
      font-weight: bold;

      .top {
        color: $color-neutral;
      }
    }

    .avatar {
      width: $size-avatar;
      height: $size-avatar;
      background-size: cover;
      background-position: center;
      border-radius: $size-avatar;
      box-shadow: inset 0 0 4px rgba(black, .8);
      margin-right: 8px;
    }

    .name {
      font-size: $font-size-large;
      flex: 1;
    }

    .points {
      margin-right: 24px;
      font-weight: bold;
    }
  }
}